
body {
    background-color: #f8f9fa;
  }

  .container {
    margin-top: 50px;
  }

  .task-html-list {
    list-style-type: none;
    padding: 0;
  }

  .task-html {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
  }

  .task-html input[type="checkbox"] {
    margin-right: 10px;
  }

  .task-html input[type="text"] {
    flex: 1;
    border: none;
    padding: 5px;
    margin-right: 10px;
  }

  .task-html button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }

  .no-padding {
    padding: 0;
  }
  

  input {
    border: none;
  }

  .form-control {
    border: none;
  }
  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }